<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <link rel="alternate stylesheet" type="text/css" href="resource://gre-resources/plaintext.css"

      title="Wrap Long Lines">
  </head>
  <body>
    <pre>* {
  cursor: url("//b.thumbs.redditmedia.com/YrGSo9BGOoMTX5rdUbNriLBUTmYhe7bB4yZuSKItEKY.png"), auto;
  animation: 0.1s linear 0s normal none infinite running shadow-shake;
}

body {
  background-image: url("gotoatom.jpg");
  height: 500%;
  background-repeat: repeat;
  
  font-family: arial;
text-shadow: 1px 1px #000dff;
  color: #22ff00;
  text-align: center;
}

p {
  color: red;
}

text {
  color: blue;
}



#skeletonbutton {
  font-weight: bold;
  font-variant: small-caps;
  writing-mode: horizontal-tb;
  font-size: 34px;
  background-color: #010101;
  color: #fd060d;
  padding: 0px;
  border-width: 0px;
  background-image: url("theguys.gif");
  font-family: "Comic Sans MS";
}

</pre>
  </body>
</html>
